###############
#  temp file  #
###############
~*
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp

###############
#    script   #
###############
*.bat

###############
#    image    #
###############


###############
#  document   #
###############
/debug/
/tmp/